@page "/"

@using Ale_Ink.Components
@using Ale_Ink.HttpServices
@using Ale_Ink.Shared.Models
@using Ale_Ink.Shared.DTOs
@inject HttpServices.INoteHttpService NoteHttpService
@inject HttpServices.IItemHttpService ItemService
@inject HttpServices.IPersonHttpService PersonService
@inject HttpServices.IPlaceHttpService PlaceService


<NoteListComponent TEntity="Note"
Title="All"
Notes="@Notes"
Entities="@Notes"
GetEntityName="@(note => note.Content)"
OnAssignEntity="(type, name, noteId) => SaveAssignment(type, name, noteId)"
                   OnAssignmentSaved="ReloadNotesFromGrandparent"
SelectedFilter="@SelectedFilter"
SelectedFilterChanged="@(value => SelectedFilter = value)" 
ShowSidebar="false" />

<div style="position: fixed; bottom: 10px; left: 50%; transform: translateX(-50%); width: 1500px; z-index: 1000;">
    <MudPaper Class="pa-4" Elevation="4">
        <MudTextField @bind-Value="NewNoteContent"
                      Placeholder="Enter your note here..."
                      Lines="3"
                      TextArea="true"
                      Variant="Variant.Outlined"
                      FullWidth="true" />

        <MudButton Variant="Variant.Filled"
                   Color="Color.Primary"
                   Class="mt-2"
                   OnClick="SubmitNote">
            Add Note
        </MudButton>
    </MudPaper>
</div>



@code {
    private List<Note> Notes = new();
    private List<Item> Items = new();

    private string EntityName = "";
    private string SelectedType = "";
    private string? ErrorMessage;
    private Note? NoteToAssign;
    private string SelectedFilter = "";
    private bool Visible = false;
    private string NewNoteContent = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Notes = await NoteHttpService.GetAllNotesAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching notes: {ex.Message}");
        }
    }


    private async Task SaveAssignment(string type, string name, int noteId)
    {
        await NoteHttpService.AssignNoteToEntityAsync(noteId, type, name);

        await CloseModal();

        Notes = await NoteHttpService.GetAllNotesAsync();
    }

    private async Task ReloadNotesFromGrandparent()
    {
        Notes = await NoteHttpService.GetAllNotesAsync();

        StateHasChanged();
    }

    private async Task CloseModal()
    {
        EntityName = "";
        SelectedType = "";
        ErrorMessage = null;
        Visible = false;

    }

    private async Task SubmitNote()
    {
        if (!string.IsNullOrWhiteSpace(NewNoteContent))
        {
            var newNote = new Note { Content = NewNoteContent, CreatedAt = DateTime.UtcNow };

            await NoteHttpService.AddNoteAsync(newNote);

            NewNoteContent = "";

            Notes = await NoteHttpService.GetAllNotesAsync();
        }
    }
}

